<div>
    <img src="<%= annonce.img %>" alt="photo">
    <p><%= annonce.type %></p>
    <p><%= annonce.title %></p>
    <p><%= annonce.description %></p>
    <p><%= annonce.price %></p>
    <p><%= annonce.city %></p>
    <p><%= annonce.pseudo %></p>
    <p><%= annonce.email %></p>
    <p><%= annonce.phone %></p>
    <a href="/annonce/<%= annonce._id %>/update">Mettre à jour</a>
</div>